@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Cariler</h2>
<table class="table table-bordered mx-4" style="margin-top:20px">
    <thead>
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Şehir</th>
            <th>E-posta</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.Cariid</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td>
                <a href="/Cari/CariSil/@x.Cariid" class="btn btn-danger"><i class="fa fa-trash"></i> Sil</a>
                <a href="/Cari/CariGetir/@x.Cariid" class="btn btn-warning"><i class="fa fa-undo"></i> Güncelle</a>

            </td>
        </tr>
    }
</table>
<a href="/Cari/YeniCari" class="btn btn-primary"><i class="fa fa-plus"></i> Cari Ekle</a>
@*<a href="/Cari/CariListesi" class="btn btn-info"><i class="fa fa-print"></i> Yazdır</a>*@
